<div class="details">
    <img [src]="getImageUrl(product())" />
    <div>
        <h2>{{product().name}}</h2>
        <p>{{product().description}}</p>
        <p>Part Type: {{product().category}}</p>
    </div>
</div>
<div class="price">
    <p [ngClass]="{strikethrough: product().discount > 0}">{{product().price | currency}}</p>
    @if (product().discount > 0) {
    <p>{{(product().price * (1 - product().discount)) | currency}} (Sale)</p>
    }
    <button class="cta" (click)="removeFromCart()">Remove</button>
</div>